spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - uri: lb://subject-trainer
              predicates:
                - Path=/scratch/**,/subjects/**,/chapters/**
            - uri: lb://topic-trainer
              predicates:
                - Path=/topics/**,/messages/**
eureka:
  client:
    service-url:
        defaultZone: http://to-be-set-by-environment